# lombok.config
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

# @Data 配置
lombok.data.flagUsage = WARNING

# @Builder 配置
lombok.builder.flagUsage = OK

# @SneakyThrows 配置
lombok.sneakyThrows.flagUsage = OK

# @Cleanup 配置
lombok.cleanup.flagUsage = OK

# 生成私有字段默认为 final
lombok.fieldDefaults.defaultPrivate = final

# Accessors 链式调用
lombok.accessors.chain = true
lombok.accessors.fluent = false

# ToString 配置
lombok.toString.includeFieldNames = true
lombok.toString.callSuper = CALL
lombok.toString.doNotUseGetters = false
